@font-face {
  font-family: "IranYekan";
  src: url("../font/IRANYekanX.ttf");
}
body {
  font-family: "IranYekan";
  padding-top: 7.25rem;
  direction: rtl;
}
* {
  text-decoration: none !important;
}
#header {
  height: 90px;
  background-color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1234;
}
.navbar-search-box {
  width: 100%;
  height: 56px;
  max-width: 510px;
  border-radius: 0.8rem;
}
.navbar-search-box .input-search {
  inset: 0;
  border-radius: 0.8rem;
  outline: none;
  padding: 0 2rem 0 7rem;
  background-color: #fafafc;
  font-size: 0.9rem;
}
.navbar-search-box .input-search::placeholder {
  color: #c7cddc;
}
.navbar-search-box .btn-search-box {
  z-index: 2;
  font-size: 0.9rem;
  color: #393a3d;
  border: 0;
  border-right: 1px solid #c7cddc;
}
.navbar-search-box .input-search:focus {
  outline: 1px solid #0084ff;
}
.navbar-menu-item-link__text {
  font-size: 0.8rem;
  color: #8f90a6;
}
.navbar-menu-item__link {
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-size: 0.8125;
}
.navbar-menu-item__link:hover * {
  color: #0084ff;
  fill: #0084ff;
}
.navbar-menu-item__link:nth-child(4) {
  border-radius: 4rem !important;
  background-color: #0084ff;
  height: 3.125rem;
}

.navbar-menu-item__link:nth-child(4) * {
  color: #fff !important;
  fill: #fff !important;
}
.bottom-navbar {
  height: 80px;
  box-shadow: 1px 2px 7px #8f90a6;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1235;
}

.bottom-navbar-item__link > .bottom-navbar-item__icon img {
  width: 2rem !important;
  height: 2rem !important;
}
.bottom-navbar-item__text {
  font-size: 0.8rem;
}
.bottom-navbar-item__link {
  color: #393a3d;
}
.bottom-navbar-item__link:focus {
  color: #0084ff;
}
.bottom-navbar-item__link:focus > .bottom-navbar-item__icon {
  width: 60px;
  border-radius: 5rem;
  background-color: #0084ff2d;
}
.categorys::-webkit-scrollbar {
  display: none;
}
.category-item__text {
  color: #1c1c28;
  font-size: 0.8125rem;
  white-space: nowrap;
}
.category-item__icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f2f2f5;
  position: relative;
}
.category-item__icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 7px;
  left: 0;
  right: 0;
  background-color: #fff;
}
.custom-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.card-title,
.card-text {
  font-size: 0.9275rem;
}
.cards {
  gap: 1rem;
}
.img-card {
  border-radius: 0.5rem;
}
.card-head-icon__like {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #c6c6c7c9;
  border-radius: 50%;
  right: 5px;
  top: 5px;
}
.card-head-count__photo {
  background-color: #c6c6c7c9;
  right: 5px;
  bottom: 5px;
  padding: 0.2rem;
  border-radius: 0.4rem;
}
.card-head-icon__brand {
  top: 5px;
  left: 5px;
}
.card-head {
  height: 100%;
}
.card-head-icon__brand > img {
  border-radius: 0.4rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: cover;
}
#footer {
  background-color: #fafafc;
}
.footer-menu-item__link {
  font-size: 0.9375rem;
}
.footer-item-link__app span:nth-child(1) {
  font-size: 0.7rem;
}
.footer-item-link__app:nth-child(3) span {
  font-size: 1rem;
}
.footer-item-link__app {
  width: 10rem;
  height: 3rem;
}
.footer-bottom {
  background-color: #f2f2f5;
}
@media screen and (min-width: 576px) {
  .card {
    width: 100%;
    max-width: calc(200px - 1rem);
    overflow: hidden;
  }
  .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 576px) {
  .mxw-lg-w-100-mb-1 {
    width: 100%;
    border-bottom: 1px solid #acbbcaac !important;
  }
}
@media screen and (max-width: 289px) {
  .mxw-289-fw-jc-ta {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .mx-xl-100 {
    max-width: 100%;
  }
  .categorys {
    overflow: scroll;
  }
}
@media screen and (max-width: 992px) {
  body {
    padding-bottom: 5.25rem;
  }
  .d-mx-lg-none {
    display: none !important;
  }
  #header {
    border: none !important;
  }
  .mx-100 {
    max-width: 100%;
  }
  .z-index-2 {
    z-index: 2;
  }
}
@media screen and (min-width: 768px) {
  .bottom-navbar-item__text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .input-search::placeholder {
    font-size: 0.7rem;
  }
}
